@mixin base-card {
  border-radius: 3px;
  text-decoration: none;
  color: inherit;
  display: block;
  background-color: #ffffff;
}

.card {
  @include base-card;

  box-shadow: 0 0 1px 0 rgba(87, 113, 149, 0.3), 0 2px 4px -2px rgba(87, 113, 149, 0.5);
  transition: 0.3s box-shadow;

  &.clickable:hover {
    cursor: pointer;
    box-shadow: 0 4px 12px 0 rgba(4, 28, 44, 0.1), 0 0 9px 0 rgba(4, 28, 44, 0.08);
  }
}

.card-outlined {
  @include base-card;

  border: 1px solid #cecece;

  &.clickable:hover {
    cursor: pointer;
    background-color: rgb(206 206 206 / 10%);
  }
}
