version: 2.1

orbs:
  docker: circleci/docker@3.0.1

parameters:
  workflow-api:
    type: boolean
    default: false
  workflow-front:
    type: boolean
    default: false

references:
  setup_env_node: &setup_env_node
    docker:
      - image: cimg/node:24.11
  attach_workspace: &attach_workspace
    at: ~/project
  restore_node_cache: &restore_node_cache
    keys:
      - node-module-cache-{{ checksum "./yarn.lock" }}
  checkout: &checkout
    method: blobless

jobs:
  build-front:
    <<: *setup_env_node
    steps:
      - checkout: *checkout
      - attach_workspace: *attach_workspace
      - restore_cache: *restore_node_cache
      - run: yarn nx build front
      - persist_to_workspace:
          root: .
          paths:
            - dist

  deploy-front:
    <<: *setup_env_node
    steps:
      - checkout: *checkout
      - attach_workspace: *attach_workspace
      - run:
          name: Install firebase-tools
          command: curl -sL https://firebase.tools | bash
      - run:
          name: Deploy application
          command: |
            echo $FIREBASE_JSON > firebase_auth.json
            export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/firebase_auth.json"
            firebase deploy -P production -m "Workflow $CIRCLE_WORKFLOW_ID, build $CIRCLE_WORKFLOW_JOB_ID" --non-interactive

  deploy-api:
    docker:
      - image: cimg/base:2025.12
    steps:
      - run:
          name: Update application version
          command: |
            curl -X 'POST' "$VPS_API_URL/api/application.update" \
              -H 'accept: application/json' \
              -H 'Content-Type: application/json' \
              -H "x-api-key: $VPS_API_KEY" \
              -d "{
                \"applicationId\": \"$DOKPLOY_API_APPLICATION_ID\",
                \"dockerImage\": \"ughoste/wishlist-api:$CIRCLE_SHA1\"
              }"
      - run:
          name: Deploy application
          command: |
            curl -X 'POST' "$VPS_API_URL/api/application.deploy" \
              -H 'accept: application/json' \
              -H 'Content-Type: application/json' \
              -H "x-api-key: $VPS_API_KEY" \
              -d "{
                \"applicationId\": \"$DOKPLOY_API_APPLICATION_ID\",
                \"title\": \"Deploy from CircleCI\",
                \"description\": \"Commit $CIRCLE_SHA1\"
              }"

workflows:
  build-and-release-api:
    when: << pipeline.parameters.workflow-api >>
    jobs:
      - docker/publish:
          name: build-without-publish
          image: ughoste/wishlist-api
          attach_at: ~/project
          dockerfile: 'apps/api/Dockerfile'
          use_buildkit: true
          tag: '${CIRCLE_SHA1}'
          extra_build_args: '--build-arg=API_VERSION=${CIRCLE_SHA1}' # TODO: use real version when available
          deploy: false
          filters:
            branches:
              ignore:
                - main

      - docker/publish:
          name: build-and-publish
          image: ughoste/wishlist-api
          attach_at: ~/project
          dockerfile: 'apps/api/Dockerfile'
          use_buildkit: true
          context:
            - DOCKER_CREDENDIALS
          tag: '${CIRCLE_SHA1},latest'
          extra_build_args: '--build-arg=API_VERSION=${CIRCLE_SHA1}' # TODO: use real version when available
          filters:
            branches:
              only:
                - main

      - deploy-api-trigger:
          name: deploy-trigger
          type: approval
          filters:
            branches:
              only:
                - main

      - deploy-api:
          name: deploy-api
          context:
            - DOKPLOY_CREDENTIALS
          filters:
            branches:
              only:
                - main
          requires:
            - build-and-publish
            - deploy-trigger

  build-and-release-front:
    when: << pipeline.parameters.workflow-front >>
    jobs:
      - build-front:
          name: build

      - deploy-front-trigger:
          name: deploy-trigger
          type: approval
          filters:
            branches:
              only:
                - main

      - deploy-front:
          name: deploy
          requires:
            - build
            - deploy-trigger
          filters:
            branches:
              only:
                - main
