/* You can add global styles to this file, and also import other style files */
/* Color Theme Swatches in Hex */
$green1: #265C4B;
$green2: #146551;
$green3: #007566;
$green4: #589A8D;
$green5: #8FC1B5;
