## Global Environment
PORT=8080

## Database
DB_HOST="localhost"
DB_PORT=5432
DB_USERNAME="service"
DB_PASSWORD="service"
DB_NAME="wishlist-api"
DB_VERBOSE=false

## Auth
AUTH_ISSUER="Wishlist API"

AUTH_ACCESS_TOKEN_SECRET="TBD"
AUTH_ACCESS_TOKEN_DURATION="7d"
AUTH_ACCESS_TOKEN_ALGORITHM="HS512"

AUTH_REFRESH_TOKEN_SECRET="TBD"
AUTH_REFRESH_TOKEN_DURATION="1y"
AUTH_REFRESH_TOKEN_ALGORITHM="HS512"
